﻿
<div style="font-size: 12px">
    <div class="text-center">
        <p style="font-size: 18px; margin-bottom: 0"><b>[STORENAME]</b></p>
        <p style="font-size: 14px; margin-bottom: 0; padding-bottom: 0">Address: [ADDRESS]</p>
        <p style="font-size: 14px; margin: 0">Tel: [CONTACT]</p>
        <p style="font-size: 14px; margin: 0px">Email: [EMAIL]</p>
    </div>

    <p style="margin: 30px 0; font-size: 13px">
        <b style="border: 1px solid #B9B7B7;padding: 5px;">TOTAL STOCK REPORT</b>
    </p>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="num_col_1">#</th>
                    <th>Product</th>
                    <th>Physical Stock</th>
                    <th>Stock on Credit</th>
                    <th>Total Stock</th>
                   <!-- <th align="right">Selling Price</th>
                    <th align="right">Total Selling Price</th>-->
                </tr>
            </thead>
            <tbody>
                [ITEMS]
                <tr>
                    <td colspan="4">TOTAL CASH VALUE OF CURRENT STOCK</td>
                    <td align="right">[TOTALAMOUNT]</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p></p>
    <p></p>
    [PRINTDATE]
</div>