﻿<div>
    <div class="text-center">
        <p style="font-size: 18px; margin-bottom: 0"><b>[STORENAME]</b></p>
        <p style="font-size: 14px; margin-bottom: 0; padding-bottom: 0">Address: [ADDRESS]</p>
        <p style="font-size: 14px; margin: 0">Tel: [CONTACT]</p>
        <p style="font-size: 14px; margin: 0px">Email: [EMAIL]</p>
    </div>
    <div style="text-align:center; margin-top:10px;">
        <b style="border: 1px solid #B9B7B7; padding: 5px; margin: 5px; font-size: 13px">CUSTOMER TRANSACTION SUMMARY REPORT</b>
        <p class=""><span>[STARTDATE] - [ENDDATE]</span></p>
    </div>
    <br/>
    <div><b>[CUSTOMERNAME]</b></div> 
    <div><b>[CUSTOMERPHONE]</b></div> 
    <div><b>[CUSTOMEREMAIL]</b></div> 
    <br />
    <div style="font-size: 12px">
        <table style="border: 0px;">
            <thead>
            <tr>
                <th class="num_col_1">#</th>
                <th>DATE</th>
                <th>TRANSACTION</th>
                <th>DEBIT</th>
                <th>CREDIT</th>
            </tr>
            </thead>
            <tbody>
            [ITEMS]
            <tr>
                <td colspan="3"></td>
                <td>
                    [TOTALDEBIT]
                </td>
                <td>
                    [TOTALCREDIT]
                </td>
            </tr>
                <tr>
                    <td colspan="3" style="font-size: 13px; font-weight: bold; float: right; text-align: right" >
                        ACCOUNT BALANCE:
                    </td>
                    <td colspan="2" style="border-bottom-style: double; float: right; text-align: left; font-weight: bold;">
                        [ACCOUNTBALANCE]
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p></p>
    [PRINTDATE]
</div>