﻿
<div style="font-size: 12px">
    <div class="text-center">
        <p style="font-size: 18px; margin-bottom: 0"><b>[STORENAME]</b></p>
        <p style="font-size: 14px; margin-bottom: 0; padding-bottom: 0">Address: [ADDRESS]</p>
        <p style="font-size: 14px; margin: 0">Tel: [CONTACT]</p>
        <p style="font-size: 14px; margin: 0px">Email: [EMAIL]</p>
    </div>

    <p style="margin: 30px 0; font-size: 13px">
        <b style="border: 1px solid #B9B7B7;padding: 5px;">DAILY SALES REPORT</b>
    </p>

    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="num_col_1">#</th>
                <th>Date</th>
                <th>Store</th>
                <th>Net Amount (Ex-Vat)</th>
                <th>Vat Amount</th>
                <th>Sale Value</th>
            </tr>
            </thead>
            <tbody>
            [ITEMS]
            <tr>
                <th colspan="3" class="text-right">Total Amount</th>
                <th class="text-right">[TOTALNETAMOUNT]</th>
                <th class="text-right">[TOTALVATAMOUNT]</th>
                <th class="text-right">[TOTALSALEAMOUNT]</th>
            </tr>
            </tbody>
        </table>
    </div>
    <p></p>
    <p></p>
    [PRINTDATE]
</div>