﻿
<div style="font-size: 12px">
    <div class="text-center">
        <p style="font-size: 18px; margin-bottom: 0"><b>[STORENAME]</b></p>
        <p style="font-size: 14px; margin-bottom: 0; padding-bottom: 0">Address: [ADDRESS]</p>
        <p style="font-size: 14px; margin: 0">Tel: [CONTACT]</p>
        <p style="font-size: 14px; margin: 0px">Email: [EMAIL]</p>
    </div>

    <p style="margin: 30px 0; font-size: 13px">
        <b style="border: 1px solid #B9B7B7;padding: 5px;">DEBTORS REPORT</b>
    </p>
    <p>List of debtors as of <b>[TODAY]</b></p>
    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col" class="num_col_1">#</th>
                <th scope="col">Customer</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email</th>
                <th style="text-align: right">Amount Owed</th>
            </tr>
            </thead>
            <tbody>
            [ITEMS]
            <tr>
                <td colspan="4" class="text-right">Total Amount</td>
                <td class="text-right" style="border-bottom-style: double; font-weight: bold; font-size: 14px;"> [TOTALAMOUNT]</td>
            </tr>
            </tbody>
        </table>
    </div>
    <p></p>
    <p></p>
    [PRINTDATE]
</div>