﻿<div>
    <div class="text-center">
        <p style="font-size: 18px; margin: 0px"><b>[STORENAME]</b></p>
        <p style="margin: 0px">=========================</p>
        <p style="font-size: 14px; margin-bottom: 0; margin-top: 0px; padding-bottom: 0">Address: [ADDRESS]</p>
        <p style="font-size: 14px; margin: 0px">Tel: [CONTACT]</p>
        <p style="font-size: 14px; margin: 0px">Email: [EMAIL]</p>
    </div>
    <p style="margin: 10px 0px;">
        <b style="border: 2px solid #B9B7B7; padding: 2px;">RECEIPT</b>
    </p>
    <b>Date:</b> [DATE]<br />
    <b>Invoice No.:</b> [INVOICENUMBER]<br />
    <b>Customer:</b> [CUSTOMER]<br />
    <b>Buyer:</b> [BUYER]<br />
    <b>Sale Type:</b> [SALETYPE]<br />
    <b>Cashier:</b> [PERSONNEL]<br />
    <div style="border-top: 1px solid #333; padding: 2px; margin-top: 5px;">
        [ITEMS]
    </div>

    <div style="border-top: 1px solid #333; padding: 2px;">
        [SHOWVAT]
        <!--<b>NHIL/VAT:</b> [VAT] <br/>
        <b>Sub Total:</b> [MINUSVAT] <br/>-->
        <b>Total Amount:</b> [TOTALAMOUNT] <br/>
    </div> 
    <div style="border-top: 1px dashed #333; padding: 2px;">
        <b>Discount:</b> [DISCOUNT] <br />
        <b>Amount Paid:</b> [TOTALPAID] <br/>
        <b>[BALNAME]:</b> [BALANCE] <br/>
    </div>
    <!--<p class="text-center" style="margin-top: 5px">
        <img src="data:image/png;base64,[BARCODE]" alt="" />
    </p>-->
    <pre style="font-size: 11px; font-family: inherit">[FOOTER]</pre>
    <p style="font-size: 9px; text-align: center">Powered By: <b>AXON INFO SYSTEMS</b></p>
</div>