﻿
<div style="font-size: 12px">
    <div class="text-center">
        <p style="font-size: 18px; margin-bottom: 0"><b>[STORENAME]</b></p>
        <p style="font-size: 14px; margin-bottom: 0; padding-bottom: 0">Address: [ADDRESS]</p>
        <p style="font-size: 14px; margin: 0">Tel: [CONTACT]</p>
        <p style="font-size: 14px; margin: 0px">Email: [EMAIL]</p>
    </div>

    <p style="margin: 30px 0; font-size: 13px">
        <b style="border: 1px solid #B9B7B7;padding: 5px;">PRODUCT SALE REPORT</b>
    </p>

    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="3"></th>
                    <th class="text-center" colspan="2">Cost Price</th>
                    <th class="text-center" colspan="2">Selling Price</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th class="num_col_1">#</th>
                    <th>Product</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-right">Unit</th>
                    <th class="text-right">Amount</th>
                    <th class="text-right">Unit*</th>
                    <th class="text-right">Amount</th>
                    <th class="text-right">Margin</th>
                    <th class="text-center">Margin (%)</th>
                </tr>

            </thead>
            <tbody>
                [ITEMS]
                <tr>
                    <th colspan="3">TOTALS</th>
                    <td></td>
                    <td class="text-right" style="font-weight: bold; border-bottom-style: double">[COSTPRICE]</td>
                    <td></td>
                    <td class="text-right" style="font-weight: bold;border-bottom-style: double">[PRICE]</td>
                    <td class="text-right" style="font-weight: bold;border-bottom-style: double">[MARGIN]</td>
                    <td class="text-right" style="font-weight: bold;border-bottom-style: double">[MARGINP]</td>
                </tr>
                <!--<tr>
                    <th colspan="3" class="text-right">Total Amount</th>
                    <th class="text-right" style="border: none; border-bottom-style: double">[TOTALAMOUNT]</th>
                </tr> -->
            </tbody>
        </table>
    </div>
    <p></p>
    <p></p>
    [PRINTDATE]
</div>