﻿
<div style="font-size: 12px">
    <div class="text-center">
        <p style="font-size: 18px; margin-bottom: 0"><b>[STORENAME]</b></p>
        <p style="font-size: 14px; margin-bottom: 0; padding-bottom: 0">Address: [ADDRESS]</p>
        <p style="font-size: 14px; margin: 0">Tel: [CONTACT]</p>
        <p style="font-size: 14px; margin: 0px">Email: [EMAIL]</p>
    </div>

    <p style="margin: 30px 0; font-size: 13px">
        <b style="border: 1px solid #B9B7B7;padding: 5px;">PRO FORMA INVOICE</b>
    </p>

    <div>
        <table class="lbl-val-table">
            <tbody>
                <tr>
                    <th>Date:</th>
                    <td>[DATE]</td>
                </tr>
                <tr>
                    <th>Customer:</th>
                    <td>[CUSTOMER]</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="num_col_1">#</th>
                    <th>Item</th>
                    <th class="qty_col">Qty</th>
                    <th class="qty_col">Amount</th>
                </tr>
            </thead>
            <tbody>
                [ITEMS]
                <tr>
                    <th colspan="3" class="text-right">Total Amount</th>
                    <th class="text-right" style="border: none;border-bottom-style: double">[TOTALCOST]</th>
                </tr>
            </tbody>
        </table>
    </div>

</div>