﻿<div>
    <div class="text-center">
        <p style="font-size: 18px; margin-bottom: 0"><b>[STORENAME]</b></p>
        <p style="font-size: 14px; margin-bottom: 0; padding-bottom: 0">Address: [ADDRESS]</p>
        <p style="font-size: 14px; margin: 0">Tel: [CONTACT]</p>
        <p style="font-size: 14px; margin: 0px">Email: [EMAIL]</p>
    </div>

    <p style="margin: 30px 0px;">
        <b style="border: 2px solid #B9B7B7; padding: 5px;">Profit And Loss</b>
    </p>
    <p style="font-size: 12px">
        <b>From: </b>[STARTDATE] <b style="margin-left: 10px">To: </b>[ENDDATE]
    </p>

    <div style="font-size: 12px">
        <table class="cleansheet">
            <tbody>
            <tr>
                <td style="background-color: #f3f3f3"></td>
                <td style="background-color: #f3f3f3" class="amt_col">GHC</td>
            </tr>
            <tr>
                <th colspan="2">INCOME:</th>
            </tr>
            <tr>
                <td class="indent">Sales</td>
                <td class="amt sub-total">[SALES]</td>
            </tr>
            <tr>
                <th>TOTAL INCOME</th>
                <td class="amt sub-total">[SALES]</td>
            </tr>
            <tr></tr>
            <tr>
                <td>COST OF SALES</td>
                <td class="amt">([COSTOFSALES])</td>
            </tr>
            <tr>
                <th>GROSS INCOME</th>
                <td class="amt sub-total">[GROSS]</td>
            </tr>
            <tr></tr>
            <tr>
                <th colspan="2">EXPENSES:</th>
            </tr>
            [EXPENSES]
            <tr>
                <th>TOTAL EXPENSES</th>
                <td class="amt total-box">([TOTALEXPENSES])</td>
            </tr>
            <tr>
                <th>NET INCOME</th>
                <td class="amt total">[NET]</td>
            </tr>
            </tbody>
        </table>
    </div>
    <p></p>
    <p></p>
    [PRINTDATE]
</div>