﻿
<div style="font-size: 12px">
    <div class="text-center">
        <p style="font-size: 18px; margin-bottom: 0"><b>[STORENAME]</b></p>
        <p style="font-size: 14px; margin-bottom: 0; padding-bottom: 0">Address: [ADDRESS]</p>
        <p style="font-size: 14px; margin: 0">Tel: [CONTACT]</p>
        <p style="font-size: 14px; margin: 0px">Email: [EMAIL]</p>
    </div>

    <p style="margin: 30px 0; font-size: 13px">
        <b style="border: 1px solid #B9B7B7;padding: 5px;">PURCHASE</b>
    </p>
    <div style="height: 180px">
        <div class="sup-info pull-left">
            <table style="width: auto">
                <tr>
                    <td>
                        <p>[SUPPLIERNAME]</p>
                        <p>[SUPPLIERADDRESS]</p>
                        <p>[SUPPLIERPHONENUMBER]</p>
                    </td>
                </tr>
            </table>
        </div>
        <br/>
        <div class="pull-right">
            <table class="lbl-val-table" style="width: auto">
                <tbody>
                <tr>
                    <th>Date:</th>
                    <td>[DATE]</td>
                </tr>
                <tr>
                    <th>Invoice Number.:</th>
                    <td>[INVOICENUMBER]</td>
                </tr>
                <tr>
                    <th>PO Number.:</th>
                    <td>[PONUMBER]</td>
                </tr>
                    <tr>
                    <th>Receipt Number.:</th>
                    <td>[RECEIPTNUMBER]</td>
                </tr>
                <tr>
                    <th>Delivery Location:</th>
                    <td>[DELIVERYLOCATION]</td>
                </tr>
                <tr>
                    <th>By:</th>
                    <td>[PERSONNEL]</td>
                </tr>
                </tbody>
            </table>
        </div>
        <br />
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="num_col_1">#</th>
                    <th>Item</th>
                    <th class="qty_col">Unit</th>
                    <th class="qty_col">Qty</th>
                    <th class="qty_col">Amount</th>
                </tr>
            </thead>
            <tbody>
                [ITEMS]
                <tr>
                    <th colspan="4" class="text-right">NET</th>
                    <th class="text-right" style="border: none; border-bottom-style: double">[NETAMOUNT]</th>
                </tr>
                <tr>
                    <th colspan="4" class="text-right">TAX [TAX]</th>
                    <th class="text-right" style="border: none; border-bottom-style: double">[TAXAMOUNT]</th>
                </tr>
            <tr>
                <th colspan="4" class="text-right">TOTAL</th>
                <th class="text-right" style="border: none; border-bottom-style: double">[TOTALAMOUNT]</th>
            </tr>
                <tr>
                    <th colspan="4" class="text-right">AMOUNT PAID</th>
                    <th class="text-right" style="border: none; border-bottom-style: double">[AMOUNTPAID]</th>
                </tr>
            </tbody>
        </table>
    </div>
    <p></p>
    <p></p>
    [PRINTDATE]
</div>