﻿<div style="font-size: 12px">
    <div class="text-center">
        <p style="font-size: 18px; margin-bottom: 0"><b>[STORENAME]</b></p>
        <p style="font-size: 14px; margin-bottom: 0; padding-bottom: 0">Address: [ADDRESS]</p>
        <p style="font-size: 14px; margin: 0">Tel: [CONTACT]</p>
        <p style="font-size: 14px; margin: 0px">Email: [EMAIL]</p>
    </div>
    <p style="margin: 30px 0; font-size: 13px">
        <b style="border: 1px solid #B9B7B7;padding: 5px;">RECEIPT</b>
    </p>
    <div>
        <p>
            <b>Date:</b> [DATE]
        </p>
        <p>
            <b>Receipt No.:</b>[RECEIPTNUMBER]
        </p>
    </div>
    <br />
    <div>
        <p class="line-text">
            <label>Paid By: </label> [PAIDBY]
        </p>
        <p class="line-text">
            <label>Description: </label> [DESCRIPTION]
        </p>
        <p class="line-text">
            <label>The sum of: </label> [AMOUNTINWORDS]
        </p>
    </div>
    <br />
    <div>
        <p><b>Amount Paid:</b> [AMOUNT]
        <p><b>Balance:</b> [BALANCE]</p>
    </div>

    <br />
    <br />
    <div>
        <p class="text-right">
            <span>Personel: [PERSONNEL]</span>
        </p>
    </div>
    <p class="text-center" style="margin-top: 40px">
        <img src="data:image/png;base64,[BARCODE]" alt="" />
    </p>

</div>