﻿.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.line-text {
    width: 100%;
}

    .line-text span {
        text-decoration: underline;
    }

    .line-text label {
        font-weight: bold;
        text-align: right;
        margin-right: 10px;
    }

table {
    border: 1px solid #A9A5A5;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    -moz-page-break-inside: avoid;
    page-break-inside: avoid;
}

    table.cleansheet {
        border: 0px;
    }

th {
    text-align: left;
    -moz-page-break-inside: avoid;
    page-break-inside: avoid;
}

th,
td {
    border: 1px solid #A9A5A5;
    padding: 4px;
    -moz-page-break-inside: avoid;
    page-break-inside: avoid;
}

.indent {
    padding-left: 30px;
}

.indent2 {
    padding-left: 50px;
}

.cleansheet tbody th,
.cleansheet tbody td {
    border: 0px;
    /*border-left: 0px;*/
}

.lbl-val-table tbody tr th {
    width: 30%;
    font-weight: normal;
}

.lbl-val-table tbody tr td .dropdown-menu {
    display: inline-table !important;
}

    .lbl-val-table tbody tr td .dropdown-menu li span.pull-left {
        float: none !important;
        margin-bottom: 5px;
    }

.num_col_1 {
    width: 35px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

#foot {
    margin-top: 40px;
}

.sign {
    margin-bottom: 10px;
    display: block;
}

.qty_col {
    width: 120px;
}

.amt_col {
    width: 20%;
    text-align: right;
}

.amt {
    text-align: right;
}

.text-right {
    text-align: right;
}

.total {
    border-bottom: 2px solid #000000;
}

.sub-total {
    border-bottom: 1px solid #000000;
}

.total-box {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}


.no-margin-bottom {
    margin-bottom: 0px !important;
}
