﻿<div>
    <div class="text-center">
        <p style="font-size: 18px; margin-bottom: 0"><b>[STORENAME]</b></p>
        <p style="font-size: 14px; margin-bottom: 0; padding-bottom: 0">Address: [ADDRESS]</p>
        <p style="font-size: 14px; margin: 0">Tel: [CONTACT]</p>
        <p style="font-size: 14px; margin: 0px">Email: [EMAIL]</p>
    </div>

    <p style="margin: 30px 0px;">
        <b style="border: 2px solid #B9B7B7; padding: 5px;">Sales Period</b>
    </p>
    <p style="font-size: 12px">
        <b>From: </b>[STARTDATE] <b style="margin-left: 10px">To: </b>[ENDDATE]
    </p>

    <div style="font-size: 12px">
        <table>
            <tr>
                <th>Product</th>
                <th>Opening Stock</th>
                <th>Quantity Purchases</th>
                <th>Total Stock</th>
                <th>Quantity Sold</th>
                <th>Amount Sold</th>
                <th>Closing Stock</th>
                <th>Credited Stock</th>
                <th>Total Closing Stock</th>
            </tr>
            [ITEMS]
        </table>
    </div>
    <p></p>
    <p></p>
    [PRINTDATE]
</div>