﻿
<div>
    <div class="text-center">
        <p style="font-size: 18px; margin: 0px"><b>[STORENAME]</b></p>
        <p style="margin: 0px">=========================</p>
        <p style="font-size: 14px; margin-bottom: 0; margin-top: 0px; padding-bottom: 0">Address: [ADDRESS]</p>
        <p style="font-size: 14px; margin: 0px">Tel: [CONTACT]</p>
        <p style="font-size: 14px; margin: 0px">Email: [EMAIL]</p>
    </div>

    <p style="margin: 30px 0px;">
        <b style="border: 2px solid #B9B7B7;padding: 5px;">SALE RETURN RECEIPT</b>
    </p>

    <div style="font-size: 12px">
        <table class="lbl-val-table">
            <tbody>
                <tr>
                    <th>Date:</th>
                    <td>[DATE]</td>
                </tr>
                <tr>
                    <th>Sale Invoice No.:</th>
                    <td>[INVOICENUMBER]</td>
                </tr>
                <tr>
                    <th>Received by:</th>
                    <td>[RECEIVEDBY]</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div style="font-size: 12px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="num_col_1">#</th>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Amount (GH¢)</th>
                </tr>
            </thead>
            <tbody>
                [ITEMS]
                <tr>
                    <th colspan="3" class="text-right">Total Amount</th>
                    <th class="text-right" style="border-bottom: 2px solid #000">[TOTALAMOUNT]</th>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div>
        <p class="text-right">
            <span>Sales Personel: [PERSONNEL]</span>
        </p>
    </div>
    <p style="font-size: 10px" class="text-center">[FOOTER]</p>
    <p class="text-center" style="margin-top: 10px">
        <img src="data:image/png;base64,[BARCODE]" alt="" />
    </p>

</div>