﻿
<div>
    <div class="text-center">
        <p style="font-size: 18px; margin: 0px"><b>[STORENAME]</b></p>
        <p style="margin: 0px">=========================</p>
        <p style="font-size: 14px; margin-bottom: 0; margin-top: 0px; padding-bottom: 0">Address: [ADDRESS]</p>
        <p style="font-size: 14px; margin: 0px">Tel: [CONTACT]</p>
        <p style="font-size: 14px; margin: 0px">Email: [EMAIL]</p>
    </div>

    <p style="margin: 30px 0px;">
        <b style="border: 2px solid #B9B7B7; padding: 5px;">STOCK ISSUE</b>
    </p>

    <div style="font-size: 12px">
        <table class="lbl-val-table">
            <tbody>
            <tr>
                <th>Date:</th>
                <td>[DATE]</td>
            </tr>
            <tr>
                <th>Number:</th>
                <td>[NUMBER]</td>
            </tr>
            <tr>
                <th>From:</th>
                <td>[SOURCE]</td>
            </tr>
            <tr>
                <th>To:</th>
                <td>[DESTINATION]</td>
            </tr>
            <tr>
                <th>Driver:</th>
                <td>[DRIVER]</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <br/>
    <div style="font-size: 12px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="num_col_1">#</th>
                    <th>Item</th>
                    <th>Qty</th>
                </tr>
            </thead>
            <tbody>
                [ITEMS]
            </tbody>
        </table>
    </div>

</div>