﻿<div>
    <div class="text-center">
        <p style="font-size: 25px; margin-bottom: 0"><b>[STORENAME]</b></p>
        <p style="font-size: 20px; margin-bottom: 0; padding-bottom: 0">Address: [ADDRESS]</p>
        <p style="font-size: 20px; margin: 0">Tel: [CONTACT]</p>
        <p style="font-size: 20px; margin: 0px">Email: [EMAIL]</p>
    </div>

    <p style="margin: 30px 0px;">
        <b style="border: 2px solid #B9B7B7; padding: 5px;">Stock Levels</b>
    </p>
    <p style="font-size: 20px">
        <b>Store: </b>[STORE]
    </p>

    <div style="font-size: 18px">
        <table>
            <tr>
                <th class="num_col_1">#</th>
                <th>Code</th>
                <th>Name</th>
                <th>Type</th>
                <th>Package</th>
                <th>Current Stock</th>
            </tr>
            [ITEMS]
        </table>
    </div>
    <p></p>
    <p></p>
    [PRINTDATE]
</div>