﻿
<div>
    <div class="text-center">
        <p style="font-size: 18px; margin-bottom: 0"><b>[STORENAME]</b></p>
        <p style="font-size: 14px; margin-bottom: 0; padding-bottom: 0">Address: [ADDRESS]</p>
        <p style="font-size: 14px; margin: 0">Tel: [CONTACT]</p>
        <p style="font-size: 14px; margin: 0px">Email: [EMAIL]</p>
    </div>

    <p style="margin: 30px 0; font-size: 13px">
        <b style="border: 1px solid #B9B7B7; padding: 5px;">SUPPLIER TRANSACTION SUMMARY REPORT</b>
    </p>
    <p class=""><span>[STARTDATE] - [ENDDATE]</span></p>   
    <table class="table table-bordered" style="font-size: 12px">
        <thead>
            <tr>
                <th>NAME</th>
                <th>PHONE NUMBER</th>
                <th>EMAIL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>[SUPPLIERNAME] </th>
                <th>[SUPPLIERPHONE]</th>
                <th>[SUPPLIEREMAIL]</th>
            </tr>
            <tr>
                <!--<th colspan="3">TOTAL DEBT <span style="border: none; border-bottom-style: double; float: right">[TOTALDEBT]</span> </th>-->
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <div style="font-size: 12px">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="num_col_1">#</th>
                <th>DATE</th>
                <th>TRANSACTION</th>
                <th>DEBIT</th>
                <th>CREDIT</th>
                <th>BALANCE</th>
            </tr>
            </thead>
            <tbody>
            [ITEMS]
            </tbody>
        </table>
        <br/>
        <br/>
    </div>
    <p></p>
    <p></p>
    [PRINTDATE]
</div>